@import '../node_modules/normalize.css/normalize.css';
@import './scss/define.scss';

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
  