/*
 * Colors
 * ========================================================================== */
 
 $blue:#e9f0f5;
 $grey:#ccc;
 $grey-dark:#89949B;
 $grey-light:#B8C3C8;
 $red:#EA7882;
 $white:#FFFFFF;
  
 /*
  * Typography
  * ========================================================================== */
  
 $font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
  
 /*
  * Layout
  * ========================================================================== */
  
 $max-content-width: 1000px;